<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Scooter<%= " - " + current_page.data.title %></title>

    <%= stylesheet_link_tag "demo" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "vendor/syntax" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
  </head>

  <body class="<%= page_classes %> sc-site">

    <nav class="sc-site__nav">
      <div class="sc-u-l-wrap">

      </div>
    </nav>

    <main class="sc-site__content">
      <div class="sc-u-l-wrap">
        <div class="sc-o-grid">

          <div class="sc-o-grid__col sc-o-grid__col--9-of-12">
            <header class="sc-content__header">
              <h1><%= current_page.data.title %></h1>
              <% if current_page.data.gh_path %>
                <%= gh_link(current_page.data.gh_path) %>
              <% end %>
            </header>
            <%= yield %>
          </div>

          <div class="sc-o-grid__col sc-o-grid__col--3-of-12">
            <% if current_page.data.toc %>
              <h4>On this page</h4>
              <nav class="sc-content__nav sc-o-nav">
                <ul>
                  <% current_page.data.toc.length.times do | i | %>
                    <li><a href="#<%= current_page.data.toc[i].downcase %>"><%= current_page.data.toc[i] %></a></li>
                  <% end %>
                </ul>
              </nav>
            <% end %>
          </div>
        </div>
      </div>
    </main>

    <%= javascript_include_tag('all') %>
  </body>
</html>
