---

title: Components
gh_path: components
toc:
- Banners
- Buttons
- Badges
- Cards
- Inputs
- Avatars
- Modals
- Title-bubble
- Tokens
- Loading-indicator
- Tab-nav
- Calendar
- Tables

---

<section class="sc-def">
  <p>Component classes are isolated, designed pieces of UI&mdash;things like buttons,
    inputs, avatars, and whatnot. In Scooter, components are built in a way that
    makes them relatively easy to restyle without breaking other parts of the CSS.</p>
</section>

<section class="sc-def" id="banners">
  <header class="sc-def__header">
    <h2>Banners</h2>
    <%= gh_link("components/_banners.scss") %>
  </header>

  <p>Banners are used to display important information to the user. Typically,
    they are pinned to the top of the page, but may also be detached or appear
    anywhere in the page.</p>

  <p>Banners come in four flavors:</p>

  <ul>
    <li>neutral</li>
    <li>success</li>
    <li>warning</li>
    <li>error</li>
  </ul>

  <%= code_example('<div class="c-banner">
  This is a neutral banner.
</div>

<div class="c-banner c-banner--success">
  This is a success banner! You did it!
</div>

<div class="c-banner c-banner--warning">
  This is a warning banner. Something&rsquo;s up.
</div>

<div class="c-banner c-banner--error u-mar-bottom-m">
  This is an error banner. Go back to square one.
</div>

<div class="c-banner c-banner--unpinned">
  This is a floating or "unpinned" banner.
</div>') %>
</section>

<section class="sc-def" id="buttons">
  <header class="sc-def__header">
    <h2>Buttons</h2>
    <%= gh_link("components/_buttons.scss") %>
  </header>

  <p>Buttons come in three flavors:</p>

  <ul>
    <li>primary</li>
    <li>secondary</li>
    <li>tertiary</li>
  </ul>

  <p>Buttons <strong>must</strong> use a modifier class to select a button type.</p>

  <%= code_example('<p>
  <button class="c-btn c-btn--primary">Primary button</button>
  <button class="c-btn c-btn--secondary">Secondary button</button>
  <button class="c-btn c-btn--tertiary">Tertiary button</button>
</p>
<p>
  <button class="c-btn c-btn--primary" disabled>Disabled via "disabled" attribute</button>
  <button class="c-btn c-btn--secondary c-btn--disabled">Disabled via class</button>
  <button class="c-btn c-btn--tertiary" disabled>Disabled tertiary button</button>
</p>
<p>
  <button class="c-btn c-btn--primary c-btn--full">A full-width button</button>
</p>
<p>
  <button class="c-btn c-btn--primary c-btn--big">A big button</button>
</p>
<p>
  <button class="c-btn c-btn--secondary c-btn--big c-btn--full">A big, full-width button</button>
</p>') %>

  <p>You can also create a button group for a series of buttons attached to one another:</p>

  <%= code_example('<div class="c-btn-group">
  <button class="c-btn c-btn--secondary">Button</button>
  <button class="c-btn c-btn--secondary">Button</button>
  <button class="c-btn c-btn--secondary">Button</button>
</div>') %>
</section>

<section class="sc-def" id="badges">
  <header class="sc-def__header">
    <h2>Badges</h2>
    <%= gh_link("components/_badges.scss") %>
  </header>

  <p>Badges are most often used as counters, such as an indication of unread notifications.
    A badge can have a <code>top-right</code> modifier to pin it to the top-right corner of
    its parent.</p>

  <%= code_example('<p>Notifications <span class="c-badge">12</span></p>') %>
</section>

<section class="sc-def" id="cards">
  <header class="sc-def__header">
    <h2>Cards</h2>
    <%= gh_link("components/_cards.scss") %>
  </header>

  <p>Cards are used to display and contain all sorts of content. Places you see
    cards today include the account dropdown menu and the "contact cards" in the
    shared folder modals.</p>

  <h3>Arrows</h3>
  <p>Cards can have arrow pointers attached to them with the `arrow` modifier. An
    additional directional class can be added from the following:</p>

  <ul>
    <li><code>c-card--arrow-n</code> (default)</li>
    <li><code>c-card--arrow-nw</code></li>
    <li><code>c-card--arrow-ne</code></li>
    <li><code>c-card--arrow-s</code></li>
    <li><code>c-card--arrow-sw</code></li>
    <li><code>c-card--arrow-se</code></li>
  </ul>

  <%= code_example('<div class="u-mar-bottom-m">
  <div class="c-card">
    This is a card with come content.
  </div>

  <div class="c-card c-card--arrow">
    This is a card with a North arrow
  </div>
</div>

<div class="u-mar-bottom-m">
  <div class="c-card c-card--arrow c-card--arrow-nw">
    <p class="u-mar-bottom-s">This is a card with a Northwest arrow. <br/>You can nest components, you know.</p>
    <button class="c-btn c-btn--primary">Wow cool</button>
  </div>

  <div class="c-card c-card--arrow c-card--arrow-ne">
    This is a card with a Northeast arrow.
  </div>
</div>

<div class="u-mar-bottom-m">
  <div class="c-card c-card--arrow c-card--arrow-s">
    South arrow
  </div>
  <div class="c-card c-card--arrow c-card--arrow-sw">
    Southwest arrow
  </div>
  <div class="c-card c-card--arrow c-card--arrow-se">
    Southeast arrow
  </div>
</div>') %>

  <h3>Floating and selected cards</h3>
  <p>Cards can have an additional modifier to allow them to "float", giving them
    hover states and styles for a "selected" state.</p>

  <%= code_example('<div class="c-card c-card--floating">
  This is a floating card. Try hovering me.
</div>

<div class="c-card c-card--floating is-selected">
  This is a selected floating card.
</div>') %>
</section>

<section class="sc-def" id="inputs">
  <header class="sc-def__header">
    <h2>Inputs and Labels</h2>
    <%= gh_link("components/_inputs.scss") %>
  </header>

  <p>Inputs and labels are used in forms. But you knew that.</p>

  <%= code_example('<form>
  <label class="c-label">
    Email address
    <input class="c-input" placeholder="drew@dropbox.com" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
  </label>

  <p>Inputs take up the entire width of their parent, so you can and should use them in the grid.</p>

  <div class="o-grid">

    <div class="o-grid__col o-grid__col--1-of-2">
      <label class="c-label">
        Password
        <input class="c-input" placeholder="Keep it secret." type="password" />
      </label>
    </div>

    <div class="o-grid__col o-grid__col--1-of-2">
      <label class="c-label">
        Confirm password
        <input class="c-input" placeholder="Keep it safe." type="password" />
      </label>
    </div>

    <div class="o-grid__col o-grid__col--1-of-2">
      <label class="c-label">
        Disabled field
        <input class="c-input" value="This is disabled" disabled />
      </label>
    </div>

    <div class="o-grid__col o-grid__col--1-of-2">
      <label class="c-label">
        Textarea
        <textarea class="c-input">Edit me, yo</textarea>
      </label>
    </div>

    <div class="o-grid__col o-grid__col--1-of-3">
      <label class="c-label">
        First name <span class="u-font-error">(Required)</span>
        <input class="c-input is-invalid" type="text" />
      </label>
    </div>

    <div class="o-grid__col o-grid__col--1-of-3">
      <label class="c-label">
        Last name
        <input class="c-input is-valid" type="text" value="Housten" />
      </label>
    </div>

    <div class="o-grid__col o-grid__col--1-of-3">
      <label class="c-label">
        Country
        <select class="c-input">
          <option>United Kingdom</option>
          <option>United States</option>
          <option>Something else</option>
        </select>
      </label>
    </div>

  </div>
</form>') %>
</section>

<section class="sc-def" id="avatars">
  <header class="sc-def__header" id="avatars">
    <h2>Avatars</h2>
    <%= gh_link("components/_avatar.scss") %>
  </header>

  <p>Avatars come in five sizes:</p>

  <ul>
    <li>xs (16px)</li>
    <li>s (24px)</li>
    <li>m (32px, default)</li>
    <li>l (48px)</li>
    <li>xl (64px)</li>
  </ul>

  <%= code_example('<figure class="c-avatar c-avatar--xl">
  <img src="http://i.imgur.com/GoCxCU3.jpg" alt="Aaron Robbs" />
</figure>

<figure class="c-avatar c-avatar--l">
  <img src="http://i.imgur.com/l2Gk1Q5.jpg" alt="Kristen Spilman" />
</figure>

<figure class="c-avatar">
  <img src="http://i.imgur.com/0tRX9MO.jpg" alt="Daniel Eden" />
</figure>

<figure class="c-avatar c-avatar--s">
  <img src="http://i.imgur.com/txMlllW.jpg" alt="Linda Eliasen" />
</figure>

<figure class="c-avatar c-avatar--xs">
  <img src="http://i.imgur.com/3DzNLJQ.jpg" alt="Ryhan Hassan" />
</figure>') %>

<p>Users without profile pictures have their initials as avatars. Setting the
  <code>data-initials</code> attribute and adding the <code>no-img</code>
  attribute achieves this result:</p>

<%= code_example('<figure class="c-avatar c-avatar--xl c-avatar--no-img" data-initials="AR">
</figure>

<figure class="c-avatar c-avatar--l c-avatar--no-img" data-initials="KS">
</figure>

<figure class="c-avatar c-avatar--no-img" data-initials="DE">
</figure>

<figure class="c-avatar c-avatar--s c-avatar--no-img" data-initials="LE">
</figure>

<figure class="c-avatar c-avatar--xs c-avatar--no-img" data-initials="RH">
</figure>') %>

<p><em>Note that in this example, the avatar color is set via JavaScript. By
    default, the color is set to <code>color(blue)</code>.</em></p>
</section>

<section id="modals" class="sc-def">
  <header class="sc-def__header">
    <h2>Modal</h2>
    <%= gh_link("components/_modal.scss") %>
  </header>

  <%= code_example('<div class="c-modal-overlay">
  <div class="c-modal">
    <div class="c-modal__header">
      <h2>Modal title</h2>
    </div>
    <div class="c-modal__content">
      <p>This is some content inside the modal.</p>
    </div>
  </div>
</div>', "modal") %>

<p>You can add the <code>unibody</code> modifier to remove the contrasting style
  between the modal header and content.</p>

<%= code_example('<div class="c-modal-overlay">
  <div class="c-modal c-modal--unibody">
    <div class="c-modal__header">
      <h2>Modal title</h2>
    </div>
    <div class="c-modal__content">
      <p>This is some content inside the modal.</p>
    </div>
  </div>
</div>', "modal") %>
</section>

<section class="sc-def" id="title-bubble">
  <header class="sc-def__header">
    <h2>Title Bubble</h2>
    <%= gh_link("components/_title-bubble.scss") %>
  </header>
  <p>The title bubble component is a tooltip-like component that appears on hover.
    It's intended for non-vital information about a given element.</p>
  <p>The title bubble requires that the element has a `data-title` attribute
    containing the tooltip content. By default, the tooltip appears below the
    element</p>

  <%= code_example('<div class="u-pad-s u-font-center">
  <p class="c-title-bubble" data-title="This is a tooltip">Hover me</p>
</div>') %>

<p>There are a number of modifiers available to change the direction and
  behaviour of the tooltip:</p>

<%= code_example('<div class="u-pad-s u-font-center">
  <p>
    <span class="c-title-bubble c-title-bubble--n" data-title="This is a tooltip">This tooltip will appear above</span>
  </p>
  <p>
    <span class="c-title-bubble c-title-bubble--e" data-title="This is a tooltip">This tooltip will appear on the right</span>
  </p>
  <p>
    <span class="c-title-bubble c-title-bubble--w" data-title="This is a tooltip">This tooltip will appear on the left</span>
  </p>
</div>') %>
</section>

<section class="sc-def" id="tokens">
  <header class="sc-def__header">
    <h2>Tokens</h2>
    <%= gh_link("components/_tokens.scss") %>
  </header>

  <p>Tokens are typically only used in the typeahead to display user identities
    and emails. They come in three states: neutral, warning, and invalid. As well as
    those states, a token may be in an additional "pending" state.</p>

  <%= code_example('<div class="c-token">
  <figure class="c-avatar c-avatar--xs">
    <img src="http://i.imgur.com/GoCxCU3.jpg" alt="Aaron Robbs" />
  </figure>
  <span class="c-token__name">Aaron Robbs</span>
  <span class="c-token__delete">&times;</span>
</div>

<div class="c-token c-token--warning">
  <figure class="c-avatar c-avatar--xs">
    <img src="http://i.imgur.com/l2Gk1Q5.jpg" alt="Kristen Spilman" />
  </figure>
  <span class="c-token__name">Kristen Spilman</span>
  <span class="c-token__delete">&times;</span>
</div>

<div class="c-token c-token--invalid">
  <span class="c-token__name">dan.eden@</span>
  <span class="c-token__delete">&times;</span>
</div>

<div class="c-token c-token--pending">
  <figure class="c-avatar c-avatar--xs">
    <img src="http://i.imgur.com/3DzNLJQ.jpg" alt="Ryhan Hassan" />
  </figure>
  <span class="c-token__name">Ryhan Hassan</span>
  <span class="c-token__delete">&times;</span>
</div>') %>

<p>Tokens also have a selected state, triggered by JavaScript:</p>

<%= code_example('<div class="c-token is-selected">
  <figure class="c-avatar c-avatar--xs">
    <img src="http://i.imgur.com/GoCxCU3.jpg" alt="Aaron Robbs" />
  </figure>
  <span class="c-token__name">Aaron Robbs</span>
  <span class="c-token__delete">&times;</span>
</div>

<div class="c-token c-token--warning is-selected">
  <figure class="c-avatar c-avatar--xs">
    <img src="http://i.imgur.com/l2Gk1Q5.jpg" alt="Kristen Spilman" />
  </figure>
  <span class="c-token__name">Kristen Spilman</span>
  <span class="c-token__delete">&times;</span>
</div>

<div class="c-token c-token--invalid is-selected">
  <span class="c-token__name">dan.eden@</span>
  <span class="c-token__delete">&times;</span>
</div>

<div class="c-token c-token--pending is-selected">
  <figure class="c-avatar c-avatar--xs">
    <img src="http://i.imgur.com/3DzNLJQ.jpg" alt="Ryhan Hassan" />
  </figure>
  <span class="c-token__name">Ryhan Hassan</span>
  <span class="c-token__delete">&times;</span>
</div>') %>
</section>

<section id="loading-indicator" class="sc-def">
  <header class="sc-def__header">
    <h2>Loading Indicator</h2>
    <%= gh_link("components/_loading-indicator.scss") %>
  </header>

  <p>The loading indicator component is a screenreader-friendly, left-aligned
    loading animation. It's a really simple one-liner.</p>

  <%= code_example('<div class="c-loader">Loading...</div>') %>
</section>

<section id="tab-nav" class="sc-def">
  <header class="sc-def__header">
    <h2>Tab Nav</h2>
    <%= gh_link("components/_tab-nav.scss") %>
  </header>

  <p>The tab nav component provides a tab-style navigation with active tab states.</p>

  <%= code_example('<nav>
  <ul class="c-tab-nav">
    <li class="c-tab-nav__tab c-tab-nav__tab--is-active"><a href="#">Everything</a></li>
    <li class="c-tab-nav__tab"><a href="#">Photos</a></li>
    <li class="c-tab-nav__tab"><a href="#">Documents</a></li>
  </ul>
</nav>') %>
</section>

<section id="calendar" class="sc-def">
  <header class="sc-def__header">
    <h2>Calendar</h2>
    <%= gh_link("components/_calendar.scss") %>
  </header>

  <%= code_example('<div class="c-calendar c-card u-pad-xs">
    <nav class="c-calendar__nav  u-cf u-font-center u-mar-bottom-s">
      <div class="u-l-fl">
        <a title="Previous month" href="#" class="u-thide  c-arrow c-arrow--left">Previous</a>
      </div>
      <div class="u-l-fr">
        <a title="Next month" href="#" class="u-thide  c-arrow c-arrow--right">Next</a>
      </div>
      <strong>September 2015</strong>
    </nav>

    <table class="c-calendar__picker">
      <thead class="ax-visually-hidden">
        <tr>
          <th><abbr title="Sunday">Sun</abbr></th>
          <th><abbr title="Monday">Mon</abbr></th>
          <th><abbr title="Tuesday">Tue</abbr></th>
          <th><abbr title="Wednesday">Wed</abbr></th>
          <th><abbr title="Thursday">Thu</abbr></th>
          <th><abbr title="Friday">Fri</abbr></th>
          <th><abbr title="Saturday">Sat</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button class="c-calendar__date c-calendar__date--disabled" disabled="">28</button></td>
          <td><button class="c-calendar__date c-calendar__date--disabled" disabled="">29</button></td>
          <td><button class="c-calendar__date u-unbutton">1</button></td>
          <td><button class="c-calendar__date u-unbutton">2</button></td>
          <td><button class="c-calendar__date u-unbutton">3</button></td>
          <td><button class="c-calendar__date u-unbutton">4</button></td>
          <td><button class="c-calendar__date u-unbutton">5</button></td>
        </tr>
        <tr>
          <td><button class="c-calendar__date u-unbutton">6</button></td>
          <td><button class="c-calendar__date is-selected u-unbutton">7</button></td>
          <td><button class="c-calendar__date u-unbutton">8</button></td>
          <td><button class="c-calendar__date u-unbutton">9</button></td>
          <td><button class="c-calendar__date u-unbutton">10</button></td>
          <td><button class="c-calendar__date u-unbutton">11</button></td>
          <td><button class="c-calendar__date u-unbutton">12</button></td>
        </tr>
        <tr>
          <td><button class="c-calendar__date u-unbutton">13</button></td>
          <td><button class="c-calendar__date u-unbutton">14</button></td>
          <td><button class="c-calendar__date u-unbutton">15</button></td>
          <td><button class="c-calendar__date u-unbutton">16</button></td>
          <td><button class="c-calendar__date u-unbutton">17</button></td>
          <td><button class="c-calendar__date u-unbutton">18</button></td>
          <td><button class="c-calendar__date u-unbutton">19</button></td>
        </tr>
        <tr>
          <td><button class="c-calendar__date u-unbutton">20</button></td>
          <td><button class="c-calendar__date u-unbutton">21</button></td>
          <td><button class="c-calendar__date u-unbutton">22</button></td>
          <td><button class="c-calendar__date u-unbutton">23</button></td>
          <td><button class="c-calendar__date u-unbutton">24</button></td>
          <td><button class="c-calendar__date u-unbutton">25</button></td>
          <td><button class="c-calendar__date u-unbutton">26</button></td>
        </tr>
        <tr>
          <td><button class="c-calendar__date u-unbutton">27</button></td>
          <td><button class="c-calendar__date u-unbutton">28</button></td>
          <td><button class="c-calendar__date u-unbutton">29</button></td>
          <td><button class="c-calendar__date u-unbutton">30</button></td>
          <td><button class="c-calendar__date u-unbutton">31</button></td>
          <td><button class="c-calendar__date c-calendar__date--disabled" disabled="">1</button></td>
          <td><button class="c-calendar__date c-calendar__date--disabled" disabled="">2</button></td>
        </tr>
      </tbody>
    </table>

  </div>') %>
</section>

<section class="sc-def" id="tables">
  <header class="sc-def__header">
    <h2>Tables</h2>
    <%= gh_link("components/_tables.scss") %>
  </header>

  <p>For basic table styling, add the <code>c-table</code> class to your tables.</p>

  <%= code_example('<table class="c-table">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Favorite animal</th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Wes O&rsquo;Haire</td>
      <td>Elephant</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Sam Jau</td>
      <td>Porcupine</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Zach Johnston</td>
      <td>Red Panda</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Daina Lightfoot</td>
      <td>Sea Otter</td>
    </tr>
  </tbody>
</table>') %>

  <p>Tables have two main additional modifiers/styles&mdash;<code>zebra</code> for alternating
    striped rows, and <code>selectable</code> for hover and selected states on rows.</p>

  <%= code_example('<table class="c-table c-table--zebra">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Favorite Emoji</th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Fiona Rolander</td>
      <td>🙄</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Zach Johnston</td>
      <td>💰</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Daina Lightfoot</td>
      <td>🙈</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Andrew Chin</td>
      <td>💁</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Liz Osaki</td>
      <td>😬</td>
    </tr>
  </tbody>
</table>') %>

<%= code_example('<table class="c-table c-table--selectable">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Favorite gif</th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Fiona Rolander</td>
      <td><a href="https://gif.daneden.me/tina_five.gif">Tina Fey giving herself a high-five</a></td>
    </tr>
    <tr class="is-selected">
      <td>2</td>
      <td>Daniel Eden</td>
      <td><a href="https://gif.daneden.me/happy-place.gif">The happiest dog in the world</a></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Liz Osaki</td>
      <td><a href="https://gif.daneden.me/excited_cloud.gif">Even rain clouds can be happy</a></td>
    </tr>
  </tbody>
</table>') %>
